html * {
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
}

.font_semibold, b {
    font-family: "Klee One", cursive;
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: #25252a;
    padding-bottom: 4rem;
}

h1, h2, .disclaimer {
    color:#aaaec4;
    text-align: center;
    margin-bottom: 0;
}

.disclaimer {
    font-size: 14px;
}

h2 {
    font-weight: 600;
    margin-top: 0;
    font-size: 20px;
}

h3 {
    font-weight: 600;
    font-size: 16px;
    color: #aaaec4;
    line-height:0;
}

p, label {
    font-size: 14px;
    color: #aaaec4;
}

.whisper {
	font-size: 12px;
}

.explanation p {
    margin-left: 15px;
}

::placeholder {
    color: #aaaec4;
    opacity: 50%;
}

.algo {
    padding-left: 10px;
}

.element_container {
    margin-left: 15px;
    margin-right: 15px;
}

.algo_button, .mode_button {
    background-color: #25252a;
    border: none;
    color: #aaaec4;
    padding: 10px 42px 5px 42px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.algo_button.active, .mode_button.active {
    background-color: #aaaec4;
    color: #25252a;
    font-weight: 600;
}

.algo_button:hover, .mode_button:hover {
    background-color: #aaaec4;
    color: #25252a;
    font-weight: 600;
}

hr{
    height: 2px;
    border-width: 0;
    color: #aaaec4;
    background-color: #aaaec4;
    margin: 0;
    margin-bottom: 1%;
}

.io_container {
    width: 100%;
    display: flex;
    gap: 2%;
}

.input_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

textarea {
    background-color: #25252a;
    color: #aaaec4;
    border: 2px solid #aaaec4;
    padding: 10px;
    font-size: 16px;
    resize: none;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}

.button_container {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    gap: 1%;
    margin-right: 2%;
}

.button_alt {
    background-color: #aaaec4;
    border: none;
    color: #25252a;
    padding: 10px 42px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.button_alt:hover {
    background-color: #7d829f;
}

.encrypt_output_rsa, .decrypt_output_rsa, .key_output_rsa,
.encrypt_output_aes, .decrypt_output_aes, .key_output_aes,
.encrypt_output_rot13, .decrypt_output_rot13 {
    background-color: #25252a;
    color: #aaaec4;
    border: 2px solid #aaaec4;
    padding: 10px;
    font-size: 16px;
    flex: 1;
}

::-webkit-scrollbar,
.news-container::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track,
.news-container::-webkit-scrollbar-track {
    background: #101011;
}

::-webkit-scrollbar-thumb,
.news-container::-webkit-scrollbar-thumb {
    background-color: #aaaec4;
}

::-webkit-scrollbar-thumb:hover,
.news-container::-webkit-scrollbar-thumb:hover {
    background-color: #7d829f;
}

footer {
    position:fixed;
    width:100%;
    left: 0px;
    bottom: 0px;
    background-color: #171719;
    color: #aaaec4;
    text-align: center;
}